<mat-toolbar>
    <mat-toolbar-row>{{userName}}'s Profile</mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Encounters
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-encounter-builder (encounterBuilt)="refreshEncounters()"></app-encounter-builder>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    My Encounters
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-encounters></app-encounters>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>