<button (click)="letterClick('A')">A</button>
<button (click)="letterClick('B')">B</button>
<button (click)="letterClick('C')">C</button>
<button (click)="letterClick('D')">D</button>
<button (click)="letterClick('E')">E</button>
<button (click)="letterClick('F')">F</button>
<button (click)="letterClick('G')">G</button>
<button (click)="letterClick('H')">H</button>
<button (click)="letterClick('I')">I</button>
<button (click)="letterClick('J')">J</button>
<button (click)="letterClick('K')">K</button>
<button (click)="letterClick('L')">L</button>
<button (click)="letterClick('M')">M</button>
<button (click)="letterClick('N')">N</button>
<button (click)="letterClick('O')">O</button>
<button (click)="letterClick('P')">P</button>
<button (click)="letterClick('Q')">Q</button>
<button (click)="letterClick('R')">R</button>
<button (click)="letterClick('S')">S</button>
<button (click)="letterClick('T')">T</button>
<button (click)="letterClick('U')">U</button>
<button (click)="letterClick('V')">V</button>
<button (click)="letterClick('W')">W</button>
<button (click)="letterClick('X')">X</button>
<button (click)="letterClick('Y')">Y</button>
<button (click)="letterClick('Z')">Z</button>