<button (click)="letterClick('A')"
        [ngClass]="{'selected' : selectedLetter == 'A'}">A</button>
<button (click)="letterClick('B')"
        [ngClass]="{'selected' : selectedLetter == 'B'}">B</button>
<button (click)="letterClick('C')"
        [ngClass]="{'selected' : selectedLetter == 'C'}">C</button>
<button (click)="letterClick('D')"
        [ngClass]="{'selected' : selectedLetter == 'D'}">D</button>
<button (click)="letterClick('E')"
        [ngClass]="{'selected' : selectedLetter == 'E'}">E</button>
<button (click)="letterClick('F')"
        [ngClass]="{'selected' : selectedLetter == 'F'}">F</button>
<button (click)="letterClick('G')"
        [ngClass]="{'selected' : selectedLetter == 'G'}">G</button>
<button (click)="letterClick('H')"
        [ngClass]="{'selected' : selectedLetter == 'H'}">H</button>
<button (click)="letterClick('I')"
        [ngClass]="{'selected' : selectedLetter == 'I'}">I</button>
<button (click)="letterClick('J')"
        [ngClass]="{'selected' : selectedLetter == 'J'}">J</button>
<button (click)="letterClick('K')"
        [ngClass]="{'selected' : selectedLetter == 'K'}">K</button>
<button (click)="letterClick('L')"
        [ngClass]="{'selected' : selectedLetter == 'L'}">L</button>
<button (click)="letterClick('M')"
        [ngClass]="{'selected' : selectedLetter == 'M'}">M</button>
<button (click)="letterClick('N')"
        [ngClass]="{'selected' : selectedLetter == 'N'}">N</button>
<button (click)="letterClick('O')"
        [ngClass]="{'selected' : selectedLetter == 'O'}">O</button>
<button (click)="letterClick('P')"
        [ngClass]="{'selected' : selectedLetter == 'P'}">P</button>
<button (click)="letterClick('Q')"
        [ngClass]="{'selected' : selectedLetter == 'Q'}">Q</button>
<button (click)="letterClick('R')"
        [ngClass]="{'selected' : selectedLetter == 'R'}">R</button>
<button (click)="letterClick('S')"
        [ngClass]="{'selected' : selectedLetter == 'S'}">S</button>
<button (click)="letterClick('T')"
        [ngClass]="{'selected' : selectedLetter == 'T'}">T</button>
<button (click)="letterClick('U')"
        [ngClass]="{'selected' : selectedLetter == 'U'}">U</button>
<button (click)="letterClick('V')"
        [ngClass]="{'selected' : selectedLetter == 'V'}">V</button>
<button (click)="letterClick('W')"
        [ngClass]="{'selected' : selectedLetter == 'W'}">W</button>
<button (click)="letterClick('X')"
        [ngClass]="{'selected' : selectedLetter == 'X'}">X</button>
<button (click)="letterClick('Y')"
        [ngClass]="{'selected' : selectedLetter == 'Y'}">Y</button>
<button (click)="letterClick('Z')"
        [ngClass]="{'selected' : selectedLetter == 'Z'}">Z</button>