<p *ngIf="encounters.length == 0">Uh-oh, it looks like you have no encounters! Use the encounter builder to get started!</p>
<mat-expansion-panel *ngFor="let encounter of encounters; let i = index"
                     [expanded]="i == 0"
                     id="encounterDetails">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ encounter.encounterName }}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <app-encounter-details [encounter]="encounter"
                           (onDeleteEncounter)="deleteEncounter(encounter.encounterId)"></app-encounter-details>
</mat-expansion-panel>