<mat-toolbar>
    <mat-toolbar-row>Log In</mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput
                   [(ngModel)]="userName"
                   (keyup.enter)="login()">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
                color="primary"
                [disabled]="!(userName && (userName | trim).length > 0)"
                (click)="login()">
            Log In
        </button>
        <button mat-raised-button
                color="primary"
                (click)="createAccount()">
            Create Account
        </button>
    </mat-card-actions>
</mat-card>